@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-SemiBold.woff2") format("woff2"),
    url("../font/sora/Sora-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-Thin.woff2") format("woff2"),
    url("../font/sora/Sora-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-Medium.woff2") format("woff2"),
    url("../font/sora/Sora-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-Light.woff2") format("woff2"),
    url("../font/sora/Sora-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-ExtraLight.woff2") format("woff2"),
    url("../font/sora/Sora-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-Regular.woff2") format("woff2"),
    url("../font/sora/Sora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-Bold.woff2") format("woff2"),
    url("../font/sora/Sora-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../font/sora/Sora-ExtraBold.woff2") format("woff2"),
    url("../font/sora/Sora-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../font/syne/Syne-ExtraBold.woff2") format("woff2"),
    url("../font/syne/Syne-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../font/syne/Syne-Bold.woff2") format("woff2"),
    url("../font/syne/Syne-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../font/syne/Syne-Medium.woff2") format("woff2"),
    url("../font/syne/Syne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../font/syne/Syne-Regular.woff2") format("woff2"),
    url("../font/syne/Syne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../font/syne/Syne-SemiBold.woff2") format("woff2"),
    url("../font/syne/Syne-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helvetica/HelveticaNeueLTW06-97BlkCnObl.woff2")
      format("woff2"),
    url("../font/helvetica/HelveticaNeueLTW06-97BlkCnObl.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helvetica/HelveticaNeue-UltraLight.woff2") format("woff2"),
    url("../font/helvetica/HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helvetica/HelveticaNeueW01-66MediumIt.woff2")
      format("woff2"),
    url("../font/helvetica/HelveticaNeueW01-66MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helvetica/HelveticaNeueW01-77BdCnObl.woff2") format("woff2"),
    url("../font/helvetica/HelveticaNeueW01-77BdCnObl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helvetica/HelveticaNeueW01-87HvCnObl.woff2") format("woff2"),
    url("../font/helvetica/HelveticaNeueW01-87HvCnObl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helvetica/HelveticaNeueLTW06-93BlkExtObl.woff2")
      format("woff2"),
    url("../font/helvetica/HelveticaNeueLTW06-93BlkExtObl.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/**************************/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 23px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  /* font-size: 1rem; */
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff0;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 0;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-family: syne;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
  background-color: inherit;
  padding: 3px 10px;
  font-weight: 600;
  color: #fff;
}

.search-fixed-wrap {
}

.search-fixed-wrap .search-wrap {
  padding-top: 15%;
}

.search-fixed-wrap .search-wrap form {
}

.search-fixed-wrap .search-wrap form input {
  text-align: center;
  border: none;
  background: transparent;
  font-size: 100px;
  color: #fff;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff42;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff42;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff42;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff42;
}
:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #ffffff;
}

.search-fixed-wrap {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: rgb(160, 181, 54);
  background: linear-gradient(
    90deg,
    rgba(160, 181, 54, 1) 0%,
    rgba(123, 145, 49, 1) 35%,
    rgba(83, 105, 44, 1) 100%
  );
  z-index: 9999;
  height: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #e20026;
}

.search-fixed-wrap.active {
  top: 0;
}

.close-btn-search {
  /* font-size: 70px; */
  position: absolute;
  right: 70px;
  top: 30px;
  cursor: pointer;
  color: #fff;
  max-width: 50px;
}

.close-btn-search img {
  width: 100%;
}

.search-big-wrap {
  display: none;
}

.search-big-wrap input {
  width: 90%;
}

.search-big-wrap .search-icon {
  max-width: 30px;
  position: absolute;
  right: 0;
  top: 5px;
}

.search-big-wrap .search-icon i {
}

.right-nav-items {
  /* margin-top: 17px; */
  /* margin-left: 95px; */
}

.right-nav-items .uni {
  display: inline-block;
  margin-left: 33px;
  margin-top: 20px;
  transition: 0.3s;
}

.top-nav-collapse .right-nav-items .uni {
  display: inline-block;
  margin-left: 33px;
  margin-top: 00px;
}
.right-nav-items .search {
  /* display: inline-block; */
  cursor: pointer;
}

.right-nav-items .acc {
}

.right-nav-items .store {
  max-width: 25px;
}

.right-nav-items .search img {
  width: 24px;
}

.right-nav-items .acc img {
}

.right-nav-items .store img {
  width: 100%;
}

.footer a:hover {
  opacity: 0.7;
}

.navbar-nav li:not(.menu-item-32, .menu-item-26) .nav-link {
  background: url(../img/0_Most_used_elements/menue-bar-red-circle.svg)
    no-repeat top 30px right 5px;
  background-size: 8px;
}

.top-nav-collapse .navbar-nav li:not(.menu-item-32, .menu-item-26) .nav-link {
  background: url(../img/0_Most_used_elements/menue-bar-red-circle.svg)
    no-repeat top 4px right 5px;
  background-size: 8px;
}

body {
  margin-top: 0;
  transition: background-color 500ms linear 0s;
  background-color: #fffffffb;
  color: #000;
  font-size: 18px;
  font-family: syne;
}

.logo a img {
  width: 111px;
  position: absolute;
  top: 7px;
  left: 150px;
  right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  image-rendering: -webkit-optimize-contrast;
}

.top-nav-collapse .logo a img {
  width: 64px;
  top: 0;
}

.wow {
  visibility: hidden;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}

a {
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

button:focus {
  outline: 0 !important;
}

input:focus {
  outline: none !important;
}

.f-none {
  float: none;
}

.bg-white {
  background-color: #fff;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.page-wrap {
  padding: 0;
}

.p-null {
  padding: 0;
}

.pl-null {
  padding-left: 15px !important;
}

.mob-only {
  display: none;
}

.desc-only {
  display: block;
}

.relative {
  position: relative;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.anchor {
  display: block;
  position: relative;
  top: 0;
  visibility: hidden;
}

div.table {
  display: table;
  margin-bottom: 79px;
  line-height: 1.5;
  margin-top: 25px;
  max-width: 554px;
}

div.tr {
  display: table-row;
}

div.td {
  display: table-cell;
  padding-right: 20px;
  margin-bottom: 48px;
  padding-bottom: 4px;
  padding-right: 32px;
  vertical-align: top;
}

div.td strong {
  font-weight: 400;
  max-width: 253px;
  display: inline-block;
}

div.td.t-bold {
}

div.tr.space-b div.td {
  padding-bottom: 30px;
}

.to-top img {
  position: fixed;
  right: 26px;
  bottom: 54px;
  cursor: pointer;
  display: none;
  z-index: 99;
  width: 43px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.to-top img:hover {
  opacity: 0.6;
}

.page-wrap {
  /* max-width: 1920px; */
  margin: 0 auto;
  /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); */
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); */
  z-index: 9;
  position: relative;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.navbar .container {
  position: relative;
  max-width: 1830px;
}

.navbar-default .navbar-collapse.navbar250 {
  width: 100%;
  /* padding-left: 18px; */
}

.menu-btn-close {
  display: none;
}

.menu-btn {
  display: none;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 55px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: 0;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 26px;
  left: 18px;
  right: 18px;
  height: 3px;
  background: #0c0c0c;
}

.c-hamburger span::after,
.c-hamburger span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
  content: "";
}

.c-hamburger--htla.is-active span::after,
.c-hamburger--htla.is-active span::before,
.c-hamburger--htra.is-active span::after,
.c-hamburger--htra.is-active span::before {
  width: 50%;
}

.c-hamburger span::before {
  top: -8px;
}

.c-hamburger span::after {
  bottom: -8px;
}

.c-hamburger--rot {
  background-color: #28aadc;
}

.c-hamburger--rot span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.c-hamburger--rot.is-active {
  background-color: #166888;
}

.c-hamburger--rot.is-active span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active {
  background-color: transparent;
}

.c-hamburger--htx.is-active span {
  background: 0 0;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #101010;
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #000000;
}

.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.c-hamburger--htla {
  background-color: #32dc64;
}

.c-hamburger--htla span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.c-hamburger--htla span::before {
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

.c-hamburger--htla.is-active {
  background-color: #18903c;
}

.c-hamburger--htla.is-active span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  -webkit-transform: translateX(38px) translateY(4px) rotate(45deg);
  -ms-transform: translateX(38px) translateY(4px) rotate(45deg);
  transform: translateX(38px) translateY(4px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(38px) translateY(-4px) rotate(-45deg);
  -ms-transform: translateX(38px) translateY(-4px) rotate(-45deg);
  transform: translateX(38px) translateY(-4px) rotate(-45deg);
}

.c-hamburger--htra {
  background-color: #ff9650;
}

.c-hamburger--htra span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.c-hamburger--htra span::before {
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htra span::after {
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

.c-hamburger--htra.is-active {
  background-color: #e95d00;
}

.c-hamburger--htra.is-active span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before {
  top: 0;
  -webkit-transform: translateX(-8px) translateY(4px) rotate(-45deg);
  -ms-transform: translateX(-8px) translateY(4px) rotate(-45deg);
  transform: translateX(-8px) translateY(4px) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(-8px) translateY(-4px) rotate(45deg);
  -ms-transform: translateX(-8px) translateY(-4px) rotate(45deg);
  transform: translateX(-8px) translateY(-4px) rotate(45deg);
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #12131d;
}

.se-pre-con .load-logo {
}

.se-pre-con .load-logo .part1 img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  width: 151px;
}

.content-full-wrap {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.paginate {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-weight: 700;
  padding-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.paginate span {
  padding: 4px;
  color: #000000;
}

.paginate .current {
  color: #f2d800;
}

.paginate a {
  color: #333333;
  padding: 4px;
}

.paginate a:hover {
  color: #f2d800;
}

.color {
  color: #f2d800;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-family: syne;
}

.navbar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin: 6px 10px;
  padding: 30px 13px 5px 13px;
}

.top-nav-collapse .navbar-nav .nav-link {
  padding: 2px 13px;
}

.navbar-nav .nav-link:hover,
.navbar-nav li.active .nav-link,
.navbar-nav li.current-page-ancestor .nav-link,
.navbar-nav li.active > .dropdown-item,
body.single-blog-details .menu-item-34 a {
  color: #f2d800;
}

.navbar-expand-lg .navbar-nav {
  padding-left: 117px;
}

.navbar .icon-right {
  position: absolute;
  right: 0;
  top: -9px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .icon-right .icon {
}

.navbar .icon-right .icon img {
  width: 91px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar.top-nav-collapse .icon-right .icon img {
  width: 48px;
}

.navbar.top-nav-collapse .icon-right {
  top: -22px;
}

.navbar .icon-right .text {
  font-size: 22px;
  font-weight: 700;
  ransform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  position: absolute;
  right: 75px;
  top: 154px;
  height: 454px;
  width: 300px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar.top-nav-collapse .icon-right .text {
  right: -54px;
  top: 146px;
  height: 54px;
  width: 157px;
  font-size: 12px;
  /* background-color: antiquewhite; */
}

.navbar.top-nav-collapse {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

/***************************************************************/

.global_title {
}
.global_title h2 {
  font-family: "Syne";
  font-size: 43px;
  font-weight: 600;
  display: inline-block;
}
.global_title h2.line2 {
  color: #e20026;
  margin-left: 9px;
}

.container {
  max-width: 1566px;
}
.home_sec1 .container {
  max-width: 1800px;
}

.btn_standard {
}
.btn_standard a {
  border: 3px solid #e20026;
  border-radius: 33px;
  padding: 20px 63px;
  color: #fff;
  min-width: 165px;
  font-weight: 700;
}

.home_sec1 {
  position: relative;
  min-height: 932px;
}
.home_sec1 .video-wrap {
}
.home_sec1 .video-wrap video {
  right: 0;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_sec1 .wrapper {
  padding-top: 270px;
  padding-left: 113px;
}
.home_sec1 .wrapper .title_wrap {
}
.home_sec1 .wrapper .title_wrap h2 {
  font-size: 137px;
  font-weight: 600;
  color: #fff;
  text-shadow: #000000bf 0px 0px 13px;
}
.home_sec1 .wrapper .title_wrap h2.line2 {
  color: #e20026;
}
.home_sec1 .wrapper .content_wrap {
  /* padding-top: 200px; */
  display: flex;
  margin-top: 49px;
}
.home_sec1 .wrapper .content_wrap .text {
  text-shadow: #000000bf 0px 0px 13px;
  color: #fff;
}
.home_sec1 .wrapper .content_wrap .text p {
}
.home_sec1 .wrapper .content_wrap .btn_standard {
  min-width: 217px;
  margin-right: 58px;
  margin-top: 25px;
}
.home_sec1 .wrapper2 {
}
.home_sec1 .wrapper2 .accordion_item {
  /* max-width: 350px; */
  color: #fff;
  text-shadow: #000000bf 0px 0px 13px;
}

.home_sec1 .wrapper2 .accordion_item.accordion_item2 {
  margin: 80px 0;
  padding-left: 256px;
}
.home_sec1 .wrapper2 .accordion_item.accordion_item3 {
  padding-left: 120px;
}
.home_sec1 .wrapper2 .accordion_item .title_wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  min-height: 58px;
}
.home_sec1 .wrapper2 .accordion_item .title_wrap .image {
}
.home_sec1 .wrapper2 .accordion_item .title_wrap .image {
  /* margin-right: 15px; */
  /* text-align: center; */
  max-width: 59px;
  width: 100%;
  position: relative;
  min-height: 59px;
}
.home_sec1 .wrapper2 .accordion_item .title_wrap .image img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_sec1 .wrapper2 .accordion_item .title_wrap .title {
  margin-left: 21px;
}
.home_sec1 .wrapper2 .accordion_item .content_text {
  margin-left: 82px;
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 350px;
}

.home_sec1 .wrapper2 .accordion_item .content_text.active-arr {
  /* margin-left: 54px; */
}
.home_sec1 .wrapper2 .accordion_item .content_text p {
}
.home_sec1 .wrapper2 {
  padding-top: 358px;
  padding-left: 90px;
}

.home_sec1 .wrapper2 .accordion_item .title_wrap .image img.active-arr {
  width: 38px;
}

.home_sec1 .small_text {
  margin-bottom: 20px;
  display: flex;
}
.home_sec1 .small_text h3 {
  font-size: 18px;
  color: #fff;
}
.home_sec1 .small_text h3.line2 {
  margin-left: 5px;
  color: #e20026;
}
.home_sec1 .small_text {
}

.home_sec3 {
  margin-top: 60px;
}
.home_sec3 .wrapper {
  padding-top: 0px;
  margin-bottom: 84px;
  position: relative;
}

.home_sec3 .wrapper .image {
  max-width: 570px;
  position: absolute;
  right: 0;
}
.home_sec3 .wrapper .image img {
  width: 100%;
}
.home_sec3 .wrapper .line {
  height: 3px;
  width: 100%;
  background: #d2d2d3;
  position: relative;
}
.home_sec3 .wrapper .line .inner_red {
  width: 22px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #e20026;
}
.home_sec3 .wrapper .global_title {
  padding-top: 111px;
}
.home_sec3 .wrapper .global_title h2 {
  color: #121820;
}
.home_sec3 .wrapper .global_title h2.line2 {
  color: #e20026;
}
.home_sec3 .wrap {
  display: flex;
  position: relative;
  padding-bottom: 20px;
}

.home_sec3 .wrap.wrap_video {
  min-height: 235px;
}
.home_sec3 .wrap.wrap_video .video-wrap {
}
.home_sec3 .wrap.wrap_video .video-wrap video {
  right: 0;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_sec3 .wrap .line {
  height: 3px;
  width: 100%;
  background: #d2d2d3;
  position: absolute;
  margin-bottom: 30px;
}
.home_sec3 .wrap .line .inner_red {
  width: 12px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #e20026;
}
.home_sec3 .wrap .number_wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  margin-top: 40px;
}
.home_sec3 .wrap .number_wrap .number {
  font-size: 36px;
  font-family: "Syne";
  font-weight: 700;
  padding-left: 33px;
  color: #e20026;
}
.home_sec3 .wrap .text_wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  margin-top: 56px;
}
.home_sec3 .wrap .text_wrap .title {
  margin-bottom: 30px;
}
.home_sec3 .wrap .text_wrap .title h3 {
  font-weight: 700;
  font-size: 23px;
}
.home_sec3 .wrap .text_wrap .text {
  color: #86888b;
  line-height: 1.6;
}
.home_sec3 .wrap .text_wrap .text p {
}

body .text {
  color: #86888b;
  line-height: 1.6;
}

.home_sec4 .wrapp1 {
}
.home_sec4 .wrapp1 .arows_wrap {
  position: absolute;
  right: 205px;
  display: flex;
  max-width: 160px;
  justify-content: space-between;
  width: 100%;
  font-family: "Syne";
  font-size: 17px;
  font-weight: 700;
  top: 16px;
}
.home_sec4 .wrapp1 .arows_wrap .arrow {
  background-size: 13px;
  cursor: pointer;
}

.home_sec4 .wrapp1 .arows_wrap .arrow:hover {
  opacity: 0.7;
}
.home_sec4 .wrapp1 .arows_wrap .arrow.arrow1 {
  position: relative; /* potrebno za pozicioniranje pseudoelementa */
  padding-left: 20px; /* ovo ostaje isto */
}

.home_sec4 .wrapp1 .arows_wrap .arrow.arrow1::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -1px;
  width: 13px; /* veličina slike */
  height: 13px; /* veličina slike */
  background: url(../img/0_Most_used_elements/arrow.svg) no-repeat center;
  background-size: contain; /* može biti i cover, ovisno o vašim potrebama */
  transform: rotate(180deg);
  transform-origin: center;
}
.home_sec4 .wrapp1 .arows_wrap .arrow.arrow2 {
  background: url(../img/0_Most_used_elements/arrow.svg) no-repeat top 6px right
    0px;
  background-size: 13px;
  padding-right: 20px;
}
.home_sec4 .wrapp1 {
  position: relative;
}

.home_sec4 .container {
  max-width: 1920px;
  padding-left: 185px;
  padding-right: 0;
}
.home_sec4 .slider_wrap {
}
.home_sec4 .slider_wrap .item_box {
  max-width: 750px;
}
.home_sec4 .slider_wrap .item_box .image {
}
.home_sec4 .slider_wrap .item_box .image img {
  transition: 0.3s;
}
.home_sec4 .slider_wrap .item_box .image img:hover {
  border-radius: 30px;
}
.home_sec4 .slider_wrap .item_box .content {
  display: flex;
  margin-top: 30px;
}
.home_sec4 .slider_wrap .item_box .content .title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.home_sec4 .slider_wrap .item_box .content .title h2 {
  font-size: 28px;
  font-weight: 700;
}
.home_sec4 .slider_wrap .item_box .content .title h3 {
  color: #e20026;
  font-size: 23px;
  font-weight: 700;
}
.home_sec4 .slider_wrap .item_box .content .text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.home_sec4 .slider_wrap .item_box .content .text p {
}
.home_sec4 .slider_wrap {
  margin-top: 80px;
}
.home_sec4 {
  margin-top: 100px;
}

.home_sec5 {
}
.home_sec5 .wrapper {
  display: flex;
  justify-content: space-between;
}
.home_sec5 .wrapper .arr_brn {
}
.arr_brn a {
  color: #000;
  font-weight: 700;
  background: url(../img/0_Most_used_elements/arrow-red.svg) no-repeat top 10px
    right 2px;
  background-size: 42px;
  padding-right: 82px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.home_sec5 .wrapper .btn_standard {
}
.home_sec5 .wrapper .btn_standard a {
  color: #000;
  font-weight: 700;
}
.home_sec5 {
  margin-top: 60px;
}

.home_sec5 .wrapper a:hover {
  opacity: 0.7;
}

.home_sec6 {
}

.home_sec6 .video-wrap {
}
.home_sec6 .video-wrap video {
  right: 0;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_sec6 .title_wrap {
  margin-bottom: 100px;
}
.home_sec6 .title_wrap .subtitle {
  margin-bottom: 60px;
}
.home_sec6 .title_wrap .subtitle h3 {
  font-size: 19px;
  font-weight: 700;
}
.home_sec6 .wrap {
}
.home_sec6 .wrap .title {
  margin-bottom: 30px;
}
.home_sec6 .wrap .title h2 {
  font-size: 22px;
  font-weight: 800;
}
.home_sec6 .wrap .text {
  margin-bottom: 25px;
}
.home_sec6 .wrap .text p {
}
.home_sec6 .wrap .button_wrapper {
}
.home_sec6 .wrap .button_wrapper a {
  color: #e20026;
  font-weight: 700;
}
.home_sec6 {
  margin-top: 111px;
  position: relative;
  padding: 160px 0 100px 0;
}

.home_sec6 .wrap_line {
  margin-top: 100px;
}
.home_sec6 .wrap_line .title {
}
.home_sec6 .wrap_line .title h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
.home_sec6 .wrap_line .number {
  font-size: 22px;
  font-weight: 700;
  color: #a5b5ba;
}
.home_sec6 .wrap_line .line {
  width: 100%;
  height: 3px;
  background: #d2d2d3;
  margin-top: 20px;
  position: relative;
}
.home_sec6 .wrap_line .line .red_line {
  height: 100%;
  position: absolute;
  width: 30%;
  background: #e20026;
}

.home_sec6 .wrap_line .line .red_line .circle_top {
  height: 8px;
  width: 8px;
  background: #e20026;
  position: absolute;
  right: 0;
  top: -2px;
  border-radius: 50%;
}

.home_sec6 .wrapper_btnn {
}
.home_sec6 .wrapper_btnn .btn_standard {
  float: right;
}
.home_sec6 .wrapper_btnn .btn_standard a {
  color: #000;
}
.home_sec6 .wrapper_btnn {
  margin-top: 130px;
}

.home_map_sec {
}
.home_map_sec .image {
}
.home_map_sec .image img {
  max-width: 100%;
}
.home_map_sec {
  margin-top: -1px;
}

/*****************************************************/

@media (min-width: 992px) {
}

@media (max-height: 800px) {
}

@media (max-height: 560px) {
}

@media (max-width: 1700px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1345px) {
}

@media (max-width: 1299px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 991px) {
  .navbar .icon-right .icon img {
    width: 45px !important;
  }

  .navbar .icon-right {
    right: 57px;
    top: -37px !important;
  }

  .dark-overly {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    bottom: 0;
    background-color: #000000c4;
    right: -100%;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }

  .dark-overly.active {
    right: 0;
  }

  .fixed-top {
    overflow: inherit;
    background: #fff;
  }

  .navbar {
    padding: 9px 10px !important;
  }

  .navbar.top-nav-collapse .contakt-info,
  .navbar .contakt-info {
    top: 10px;
    right: 70px;
  }

  .logo a img,
  .top-nav-collapse .logo a img {
    width: 91px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    top: 2px;
    left: 0;
  }

  .navbar {
    padding: 7px 10px;
    opacity: 1;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    height: auto;
  }

  .page-wrap {
    padding-top: 52px;
  }

  .navbar .contakt-info .search-part,
  .navbar .contakt-info .icons {
    display: none;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu li.active .dropdown-item {
    color: #b1291c;
  }

  .dropdown-item {
    padding: 3px 14px;
    font-size: 17px;
  }

  .dropdown-menu {
    padding: 0px 0 0px 0;
    position: static !important;
    display: block;
    text-align: left;
  }

  .navbar-nav .nav-link {
    font-size: 18px !important;
    line-height: 1.5;
    background: none !important;
  }

  .top-nav-collapse .navbar-nav .nav-link,
  .navbar-nav .nav-link {
    padding: 11px 20px;
  }

  .navbar-collapse {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .navbar-light .navbar-nav li {
    margin-left: 0px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-left: 5px;
    position: relative;
    z-index: 9;
  }

  .navbar .contakt-info .direct-call a .icon img {
    width: 40px;
    margin: 0 17px;
  }

  .navbar.top-nav-collapse .contakt-info,
  .navbar .contakt-info {
    top: 10px;
    right: 70px;
  }

  .logo a img,
  .top-nav-collapse .logo a img {
    width: 155px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  .menu-btn-close img {
    width: 100%;
  }

  .top-nav-collapse .menu-btn {
    /* top: -9px; */
  }

  .menu-btn {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    /* width: 32px; */
    /* height: 35px; */
    position: absolute;
    right: -13px;
    top: 15px;
    z-index: 999;
    top: -8px;
  }

  .menu-btn.active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    width: 61px;
    height: 63px;
    background-size: 61px;
    background-color: transparent;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 19px;
    transition: 0.5s;
    border-top: 0;
    display: block;
    margin-top: 58px;
    margin-bottom: 0;
    padding-top: 19px;
    padding-left: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding-bottom: 50px;
    /* min-height: 650px; */
    background-color: #fff;
  }

  .navbar-light #menu-main-menu-2.navbar-nav .current-menu-parent > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link {
    border-bottom: none;
    color: #009fe3;
  }
}

@media (max-width: 767px) {
}
